# Facebook Page Access Token (long-lived)
# Generate at: https://developers.facebook.com/tools/explorer/
# Required scopes: pages_show_list, pages_read_engagement, pages_read_user_content,
#                  pages_manage_posts, pages_manage_metadata, read_insights
FB_PAGE_ACCESS_TOKEN=your_page_access_token_here

# Default Facebook Page ID
FB_PAGE_ID=your_page_id_here
